<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
</script>
<div class='container'>
  			<h2><a>Nuevo cliente Dado de alta</a></h2> 
  			  <fieldset>
  			   <legend> <span type="text" name="name" id="name" ></span></legend>
	 <legend> <span type="text"  name="idCliente" id="idClienteOut"></span></legend>
	 <legend><span type="text"  name="ideCuenta" id="idCuentaOut"></span></legend>
   
  </fieldset>
   	
	
 
	 <input type="text"  name="saldo" id="saldoOut" placeholder="credit"/>
	 <input type="submit"  name="boton" id="boton" value='Insertar' />
	 <div id="loadinggif"></div>
	 <div id="logidentity" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
	 <a href="#" class="btn btn-info" onclick="signOut();" style="display:none;" id="cerrarsesion">Cerrar sesión</a>
	 <div id="datos">
         <br/><img src="http://www.pvhc.net/img2/zwyqhltupxdsjmiovgyn.png" />
     </div>
	
</div>

</body>
</html>